# 4.6 IC Combining and Exporting Data 02

## Contents:

### 01. Import the data sets into Jupyter

### 02. Check the dimensions of the imported data

### 03. Determine a suitable way to combine the two dataframes

### 04. Confirm the results of the merge using the merge flag

### 05. Export data in suitable format

In [43]:
# Import libraries
import pandas as pd
import numpy as np
import os

#### 01. Import the data set into Jupyter

In [44]:
# Importing df_ords_prods_comb
path = r'/Users/yaseminmustafa/Desktop/CareerFoundry/Exercise 4/15-05-2025_Instacart Basket Analysis'

In [45]:
path

'/Users/yaseminmustafa/Desktop/CareerFoundry/Exercise 4/15-05-2025_Instacart Basket Analysis'

In [46]:
df_ords_prods_comb = pd.read_pickle(os.path.join(path,"02_Data/Prepared Data/orders_products_combined.pkl"))

In [47]:
# Check output
df_ords_prods_comb.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,dataset_label,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1868044.0,1868044.0,1,112108.0,train,4.0,4.0,10.0,9.0,NaN,NaN,NaN,left_only
1,3355525.0,3355525.0,2,202279.0,prior,3.0,5.0,9.0,8.0,33120.0,1.0,1.0,both
2,3355525.0,3355525.0,2,202279.0,prior,3.0,5.0,9.0,8.0,28985.0,2.0,1.0,both
3,3355525.0,3355525.0,2,202279.0,prior,3.0,5.0,9.0,8.0,9327.0,3.0,0.0,both
4,3355525.0,3355525.0,2,202279.0,prior,3.0,5.0,9.0,8.0,45918.0,4.0,1.0,both

In [48]:
# Drop unnecessary columns
df_ords_prods_comb = df_ords_prods_comb.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [49]:
# Check output
df_ords_prods_comb.head()

,order_id,user_id,dataset_label,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108.0,train,4.0,4.0,10.0,9.0,NaN,NaN,NaN,left_only
1,2,202279.0,prior,3.0,5.0,9.0,8.0,33120.0,1.0,1.0,both
2,2,202279.0,prior,3.0,5.0,9.0,8.0,28985.0,2.0,1.0,both
3,2,202279.0,prior,3.0,5.0,9.0,8.0,9327.0,3.0,0.0,both
4,2,202279.0,prior,3.0,5.0,9.0,8.0,45918.0,4.0,1.0,both

In [50]:
# Importing df_prods - df_products_checked
df_prods = pd.read_csv(os.path.join(path,"02_Data/Prepared Data/products_checked.csv"), index_col = False)

In [51]:
# Check output
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [52]:
# Drop unnecessary columns
df_prods = df_prods.drop(columns=['Unnamed: 0'])

In [53]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

#### 02. Check the dimensions of the imported data

In [54]:
# Checking the shape of ords_pros_comb dataframe
df_ords_prods_comb.shape

(32640698, 11)

In [55]:
# Checking dimensions of df_prods
df_prods.shape

(49672, 5)

#### 03. Determine a suitable way to combine the two dataframes

#### A suitable way to combine the df_ords_prods_combined and df_prods dataframes, despite their differing shapes, is by merging them on their shared "product_id" column. For this project, an inner join is recommended to retain only matching records from both datasets.

In [56]:
# Merging df_ords_comb and df_prods
df_merged_large2 = df_ords_prods_comb.merge(df_prods, on = 'product_id')

In [57]:
# Check output
df_merged_large2.head()

,order_id,user_id,dataset_label,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2,202279.0,prior,3.0,5.0,9.0,8.0,33120.0,1.0,1.0,both,Organic Egg Whites,86,16,11.3
1,2,202279.0,prior,3.0,5.0,9.0,8.0,28985.0,2.0,1.0,both,Michigan Organic Kale,83,4,13.4
2,2,202279.0,prior,3.0,5.0,9.0,8.0,9327.0,3.0,0.0,both,Garlic Powder,104,13,3.6
3,2,202279.0,prior,3.0,5.0,9.0,8.0,45918.0,4.0,1.0,both,Coconut Butter,19,13,8.4
4,2,202279.0,prior,3.0,5.0,9.0,8.0,30035.0,5.0,0.0,both,Natural Sweetener,17,13,13.7

In [60]:
# Checking dimensions of df_merged_large2
df_merged_large2.shape

(32404859, 15)

#### 04. Confirm the results of the merge using the merge flag

In [61]:
# Frequency check 
df_merged_large2['_merge'].value_counts()

_merge
both          30328763
right_only     2076096
left_only            0
Name: count, dtype: int64

#### 05. Export data in suitable format

In [62]:
# Export data to pkl
df_merged_large2.to_pickle(os.path.join(path, '02_Data','Prepared Data', 'ords_prods_merge.pkl'))